.HeroSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.productCategories {
  grid-column: 1 / span 1;
  // margin: 0 1rem;
  margin-left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  width: 75%;
  height: 40rem;
  &__lists {
    // margin-left: 2rem;
    ul {
      border: 1px solid #fafafa;
      list-style: none;
      cursor: pointer;
      & li {
        text-transform: capitalize;
        &:hover {
          background-color: #fafafa;
        }
        & span {
          padding: 1rem 1rem;
          font-size: 1.3rem;
          line-height: 3.5rem;
        }
      }
    }
  }
}

.Carousel {
  grid-column: 2 / span 2;
  // background-color: antiquewhite;
}
// .TopDeals {
//   background-color: aqua;
// }
.SubCategories {
  //   background-color: olive;
  grid-column: 2 / span 2;
}
.subCategory {
  // display: flex;
  // justify-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  overflow-x: scroll;
  width: 100%;
  // & .subCategoryItems {
  //   display: grid;
  //   grid-template-columns: repeat(2, auto);
  //   // display: flex;
  //   // flex-direction: column;
  //   // justify-content: flex-start;
  //   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  //   background: #fff;
  //   // box-shadow: rgba(11, 18, 25, 0.1) 0px 6px 12px -4px;
  //   // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  //   //   rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  //   border-radius: 0.5rem;
  //   // height: 15rem;
  //   // width: 15rem;
  //   &__image {
  //     grid-column: 1 / -1;
  //     grid-row: 1 / 2;
  //     width: 15rem;
  //     transition: all 0.5s ease-in-out;
  //     &:hover {
  //       transform: scale(1.1);
  //       transition: all 0.5s ease-in-out;
  //     }
  //   }
  //   &__text {
  //     grid-column: 1 / -1;
  //     font-size: 1.2rem;
  //     font-weight: 600;
  //     justify-self: center;
  //     align-self: flex-end;
  //   }
  // }
}
.image_wrap {
  display: grid;
  margin: 0.5rem;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  z-index: 199;
}
.image_text {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

.grad {
  height: 100%;
  width: 100%;
  left: 0;
  /* opacity: .7; */
  position: absolute;
  top: 0;
  z-index: 99;
}
.dark_edge {
  background: -moz-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -o-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 1;
}

.TopDeals {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  grid-column: 4 / -1;
  // background-color: orchid;
  width: 70%;
  height: 40rem;
}
.TopDealsBox {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 34rem;
  // background-color: paleturquoise;
  &__Items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &--Image {
      width: 8rem;
    }
    &--Text {
      align-self: flex-start;
      margin-left: 1rem;
      font-size: 1.1rem;
    }
  }
}
.TopDealsBox::-webkit-scrollbar {
  width: 0rem;
}

//Media Queries
@media (max-width: 700px) {
  .productCategories,
  .TopDeals {
    display: none;
  }
  .SubCategories {
    grid-column: 1 / -1;
  }
  .Carousel {
    grid-column: 1 / -1;
  }
}

@media (min-width: 900px) {
  .HeroSection {
    margin: 1rem 10rem;
  }
}
