.custom-btn {
  color: #fff;
  background: $button-colors;
  border-radius: 0.4rem;
  padding: 1.2rem 2rem;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  outline: none;
  border: none;
  z-index: 10;
  cursor: pointer;
  //   &:hover {
  //     transform: translateY(-0.3rem);
  //   }
  //   &:active {
  //     transform: translateY(-0.1rem);
  //   }
}

/* 1 */
.btn-1 {
  width: 100%;
}
.btn-2 {
  width: auto;
  padding: 1rem 2rem;
}
.btn-3 {
  width: 6rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  font-size: 1rem;
  font-weight: 700;

  color: #fff;
}
.btn-4 {
  width: auto;
  border-radius: 0.5rem;
}
